#!/usr/bin/make -f

PROJECT = dnscrypt-proxy
OUT = ${CURDIR}/debian/${PROJECT}
CFG = ${OUT}/etc/${PROJECT}

export DH_OPTIONS
export DH_GOPKG := github.com/DNSCrypt/dnscrypt-proxy
export GOCACHE := ${CURDIR}/.cache
export GOFLAGS := -v -ldflags=-w -ldflags=-s -mod=vendor
export PATH := /usr/local/src/golang/go/bin:${PATH}

%:
	dh $@

override_dh_auto_build:
	cd dnscrypt-proxy && go env && go build

override_dh_auto_clean:
	cd dnscrypt-proxy && go clean && go clean -cache

override_dh_auto_install:
	dh_auto_install --destdir="${OUT}"
	install -Dm755 "${PROJECT}/dnscrypt-proxy" "${OUT}/usr/bin/${PROJECT}"
	install -Dm644 "${PROJECT}/example-dnscrypt-proxy.toml" "${CFG}/${PROJECT}.toml"
	install -Dm644 "${PROJECT}/example-forwarding-rules.txt" "${CFG}/example-forwarding-rules.txt"
	install -Dm644 "${PROJECT}/example-blocked-ips.txt" "${CFG}/example-blocked-ips.txt"
	install -Dm644 "${PROJECT}/example-blocked-names.txt" "${CFG}/example-blocked-names.txt"
	install -Dm644 "${PROJECT}/example-allowed-names.txt" "${CFG}/example-allowed-names.txt"
	install -Dm644 "${PROJECT}/example-cloaking-rules.txt" "${CFG}/example-cloaking-rules.txt"
	install -Dm644 "${PROJECT}/example-captive-portals.txt" "${CFG}/example-captive-portals.txt"
	install -Dm644 "${PROJECT}/example-allowed-ips.txt" "${CFG}/example-allowed-ips.txt"

	sed -ri "s/^listen_addresses.+/listen_addresses = []/" "${CFG}/${PROJECT}.toml"

override_dh_auto_test:

override_dh_dwz:
